@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    body {
        font-family: 'Roboto';
        background: rgb(242, 242, 242);
    }

    .true {
        background: #24282c;
        color: #fff !important;

        header {
            nav {
                background: #343a40;
            }

            div {
                div {
                    background: #343a40;
                    color: #fff !important;
                    border: none;

                    input {
                        background: #343a40;
                    }
                }

                #input {
                    background: #343a40;

                    input {
                        background: #343a40;
                    }
                }
            }
        }

        main {

            div {
                a {
                    background: #343a40;

                    div {
                        background: #343a40;
                    }
                }

                div {
                    background: #343a40;

                    div {
                        background: #343a40;
                    }
                }
            }
        }
    }
}